.weui-cells__title{
  margin-top: 0;
  padding-top: 20rpx;
}

.weui-cells {
  font-size: 28rpx;
  background: #fff
}

.weui-cells:before {
  border: none;
}

.weui-cells:after {
  border: none;
}

.add-more {
  color: #586C94
}

.course-time {
  line-height: 1.2;
  font-size: 13px;
  color: #80848f;
  margin-right: 15rpx;
  float: left;
}

.course-teacher {
  color: #80848f;
  float: left;
  font-size: 11px;
}

.course-name.odd:after{
  content: "(单周)";
  color: #80848f;
}

.course-name.even:after{
  content: "(双周)";
  color: #80848f;
}

.weui-cell .weui-cell {
  padding: 0;
}