mixin course-info
  view(class="weui-cell__bd")
    view(class="course-name") {{course.name}}
    view(class="course-time" v-if="course.startTime") {{course.startTime}}~{{course.endTime}}
  view(class="weui-cell__ft" v-if="course.location") {{course.location}}

mixin navbar-swiper
  view(class="course-table")
    view(class="weui-tab")
      view(class="tab-title")
        nav-bar(:navItems="weekdays" :current="activeDay"  @tabActive="tabActive")/
      view(class="weui-tab__panel")
        swiper(@change="swiperchange" :current="activeDay" style="height: 100%")
          swiper-item(v-for="(day, dayIdx) in courseInfo" :key="dayIdx" )
            view(class="weui-tab__content" )
              scroll-view(scroll-y='true' style="height: auto")
                block(v-for="(interval, intervalIdx) in day.interval" :key="intervalIdx")
                  view(class="weui-cells__title") {{interval.name}}
                  view(class="weui-cells weui-cells_after-title")
                    block